body {
  background: #f5db90; /* Light yellow background */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.circle {
    width: 80px;
    height: 80px;
    background: #5b8f44; /* Green */
    border-radius: 50%;
}