body{
    background-color: blueviolet;
}

.maindiv{
    display: grid;
    grid-template-rows: 100px 500px 100px;
}

nav{
    display: flex;
    justify-content: center;
    gap: 40px;
}

.a{
    color: whitesmoke;
}

#middivh2{
    text-align: center;
    font-size: xx-large;
    font-size: 70px;
}

.inputdiv{
    display: flex;
    justify-content: center;
}

#input1{
    width: 500px;
    height: 70px;
}

::placeholder{
    font-size: large;
}